.btn-send{
    color: $dark-bg;
    background-color: $light-blue;
    padding: 10px 15px;
    font-weight: 500;
    &:focus,
    &:hover{
        color: $second-color-light;
        background-color: $second-color;
    }       
}
.btn-services{
    color: $second-color;
    background-color: $second-color-light;
    padding: 10px 15px;
    font-weight: bold;
}
.btn-signin{
    padding: 10px 15px;
    font-weight: 500 ;
    background-color: $dark-bg;
    color: $light-blue-2;
    &:hover,:focus{
        color: $light-blue-2 ;
    }
}

@media (max-width:992px) {
    .btn-send{
        color: $light-blue-2;
        background-color: $light-blue;
        padding: 7px 12px !important;
        font-weight: 500;
        font-size: 14px;       
    }
}
@media (max-width:554px) {
    .btn-send{
        color: $light-blue-2;
        background-color: $light-blue;
        padding: 7px 12px !important;
        font-weight: 500;
        font-size: 10px;       
    }
}