.btn-send{
    color: $light-blue-2;
    background-color: $light-blue;
    padding: 10px 15px;
    font-weight: 500;       
}
.btn-services{
    color: $second-color;
    background-color: $second-color-light;
    padding: 10px 15px;
    font-weight: bold;
}

@media (max-width:992px) {
    .btn-send{
        color: $light-blue-2;
        background-color: $light-blue;
        padding: 7px 12px !important;
        font-weight: 500;
        font-size: 14px;       
    }
}
@media (max-width:554px) {
    .btn-send{
        color: $light-blue-2;
        background-color: $light-blue;
        padding: 7px 12px !important;
        font-weight: 500;
        font-size: 10px;       
    }
}