@import './colors.scss';
@import './buttons.scss';
@import './icons.scss';
@import './titles.scss';
@import './login.scss';
@import './gallery.scss';
@import './sign-in.scss';
@font-face {
    font-family: 'titles';
    src: url(../fonts/Changa-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'paragraph';
    src: url(../fonts/ReadexPro-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6{
    font-family: "titles";
}
p,a{
    font-family: "paragraph";
}
a:hover,:focus{
    text-decoration: none;
}


// nav
nav{
    background-color: $dark-bg;
    // ba9i khassni n9ad css l nav zwin 
    .navbar-brand{
        .logo-head{
            position: absolute;
            top: 15px;
            left: 0;
            width:50px;
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(359deg) brightness(102%) contrast(103%);
        }
    }
    .fa-bars{
        color: #fff;
        transition: .2s;
    }
    .fa-bars:focus,:hover{
        color: $light-blue;
    }
    .navbar-nav{
        .nav-item:first-child{
            .nav-link{
                color: $light-blue;
            }
            .nav-link::after{
                content: '';
                position: absolute;
                left: 0; bottom: 0;
                width: 100%;height: 2px;
                background-color: $light-blue-2;
                transform: scaleX(1);
                transform-origin: left;
            }
        }
        .nav-link{
            color: #fff;
            position: relative;
            transition: transform .5s;    
        }

        .nav-link:hover{
            color: $light-blue-2;
        }
        .nav-link::after{
            content: '';
            position: absolute;
            left: 0; bottom: 0;
            width: 100%;height: 2px;
            background-color: $light-blue-2;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s;
        }
        .nav-link:hover::after{
            transform: scaleX(1);
            transform-origin: left;
        }

    }

    
}
// header
.header-img{
    
    min-height: 100vh;
    background-image: url(../img/logo-head.jpg);
    background-position: center;
    background-size: cover;
    .header{
        background: #29324178;
        min-height: 100vh;
        
        .r-1{
            
            .r-2{
                .img-header-logo{
                    
                    
                    max-width: 300px;
                    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(359deg) brightness(102%) contrast(103%);
                }
                h1{
                    
                    color: #fff;
                    line-height: 33px;
                    
                }
            }
            p{
                color: #fff;
                line-height: 33px;
                margin-top: 90px;
                font-size: 22px;
                
            }
            padding-top: 150px;
        }
    }
}

// services
.services{
   
    margin-top: 50px;
    line-height: 33px;
    margin-bottom: 50px;
    
    
    .card-services{
        height: 170px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 15px 2px $second-color-light;
        background-color: $dark-bg;
        color: white;
        border-radius: 3px;
        
        h4{
            color: $light-blue ;
        }
        .icon-traveling{
            color: $light-blue-2;
        }
        p{
            padding: 0px 20px;
        }
    }
}

// travel
.travels{
    margin-top: 100px;
    margin-bottom:100px;
    line-height: 33px;
    padding-bottom: 150px;
    background-color: $dark-bg;
    
    .carousel{
        padding-top: 50px;
        .carousel-inner{
            position: relative;
            .img-carousel{
                width: 60%;
                height: 30%;
                border: 10px solid $light-blue-2;
            }
            
        }
        .fa-arrow-left{
            font-size: 45px;
            
        }
        .fa-arrow-right{
            font-size: 45px;
            
        }
        .carousel-caption{
           position: absolute;
           bottom: 0px;
           span{
            line-height: 53px;
            padding: 10px;
            border-radius: 5px;
            background-color: $light-blue-2;
            font-size: 18px;
            color: $main-colord;
            font-weight: bold;
           }
        }
    }
}
// contact
.contact{
    margin-bottom: 50px;
    .info{
        margin-top: 50px;
        line-height: 33px;
        display: flex;
        flex-direction: column;
    }
    .icons{
        color: #3d5a80;
    }
}
//footer
.footer{
    padding: 30px;
    background-color: $dark-bg;

    h6{
        color: #fff;
        margin-top: 8px;
    }
}

@media (max-width:1098px) {
    .travels{
        .carousel{
            padding-top: 50px;
            .carousel-inner{
                .img-carousel{
                    width: 80% !important;
                    border: 5px solid $light-blue-2 !important;
                }
                
            }
            
        }
    }
}
@media (max-width:992px) {
   .navbar{
       .logo-head{
           position: absolute;
           top: 10px !important;
           left: 0;
           width: 30px !important;
       }
   }
    .navbar-nav{
        .nav-link{
            display: inline-block;
        }
        .nav-link::after{
            content: '';
            position: absolute;
            right: 0; bottom: 0;
            width: 100% ;height: 2px;
            background-color: $light-blue-2;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s;
        }
        .nav-link:hover::after{
            transform: scaleX(1);
            transform-origin: left;
        }
    }
    .info{
        h4{
            font-size: 18px;
        }
    }
    .carousel-caption{
        font-size: 10px !important;
        position: absolute;
        bottom: 0px;
        h5{
            font-size: 18px;
        }
        span{
         line-height: 53px;
         padding: 5px;
         border-radius: 5px;
         background-color: $light-blue-2;
         font-size: 14px !important;
         color: $main-colord;
         font-weight: bold;
        }
    }
    .card-services{
        height: 170px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 15px 2px $second-color-light;
        background-color: $dark-bg;
        color: white;
        padding: 0px;
        border-radius: 3px;
        h4{
            color: $light-blue ;
            padding: 0 20px;
            font-size: 18px;
        }
        .icon-traveling{
            color: $light-blue-2;
        }
        p{
            padding: 0px 20px;
            font-size: 13px;
        }
    }
}
@media (max-width:768px) {
    
    .logo-head{
        position: absolute;
        top: 25px;
        left: 0;
        width: 30px !important;
    }
    .carousel-caption{
        font-size: 10px !important;
        position: absolute;
        bottom: 0px;
        h5{
            font-size: 14px;
        }
        span{
         line-height: 53px;
         padding: 5px;
         border-radius: 5px;
         background-color: $light-blue-2;
         font-size: 10px !important;
         color: $main-colord;
         font-weight: bold;
        }
     }
     .map{
        height: 300px;
     }
}
@media (max-width:555px) {
    .r-1{
        p{
            font-size: medium !important;
        }
    }
    .card-services{
        height: 170px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 15px 2px $second-color-light;
        background-color: $dark-bg;
        color: white;
        padding: 0px;
        h4{
            color: $light-blue ;
            padding: 0 20px;
        }
        .icon-traveling{
            color: $light-blue-2;
        }
        p{
            padding: 0px 20px;
            font-size: 12px;
        }
    }
}